{% extends 'admin/base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-3"><h5>CREATE BOOK</h5></div>
    <div class="col-md-3"><a href ="{% url 'author' %}" class="btn btn-warning">Add Author</a>
</div>
</div>



<form action="" method="POST" enctype="multipart/form-data">
<!--    token helps to pass requests and responses safely and securely-->
    {% csrf_token %}

    {{Book_App.form.as_p}}

    <input type="submit" value="SUBMIT">

</form>

{% endblock %}
