{% extends 'user/base.html' %}
{% load static %}

{% block content %}


<h1>List Of Books</h1>

<table class="table">
  <thead>
    <tr>
        <th scope="col">#</th>
        <th>Book Name</th>
        <th>Book Price</th>
        <th>Author</th>
        <th>Quantity</th>
        <th>Action</th>
        <th>Add to Cart</th>



    </tr>
  </thead>
  <tbody>
     {% for book in page %}  <!--used for template stacks--control flow statements---loops, logic statements or conditions-->
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td nowrap >{{ book.title }}</td>
            <td nowrap >{{ book.price }}</td>
            <td nowrap >{{ book.author }}</td>
            <td nowrap >{{ book.quantity }}</td>
            <td nowrap ><a href="{% url 'User_book_details' book.id %}" type="submit" class="btn btn-primary">Details</a></td>
            <td nowrap ><a href="{% url 'add_to_cart' book.id %}">Add</a> </td>
        </tr>
    {% endfor %}

  </tbody>
</table>



<nav aria-label="Page navigation example">
  <ul class="pagination">
      {% if page.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{page.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
      {% endif %}
      {% for num in page.paginator.page_range %}

    <li class="page-item {% if page_number == num %}activate{% endif %} ">
        <a class="page-link" href="?page={{ num }}">{{ num }}</a></li>

      {% endfor %}

      {% if page.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{page.next_page_number}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
      {% endif %}
  </ul>
</nav>


{% endblock %}

 <!--used for template stacks--control flow statements---loops, logic statements or conditions-->