<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Welcome to your cart {{Cart.username}}</h1>
  {% if not cart_items %}

  <p>Your cart is empty</p>

  {% else %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Book Name</th>
        <th scope="col">Author</th>
        <th scope="col">Price</th>
        <th scope="col">Action</th>

      </tr>
    </thead>
    <tbody>
    {% for item in cart_items %}
      <tr>
        <th scope="row">1</th>
        <td>{{ item.book.title }}</td>
        <td>{{ item.book.author }}</td>
        <td>{{ item.book.price }}</td>
        <td><a href="{% url 'remove_item' item.id %}">Remove</a></td>
        {% if item.quantity <= item.book.quantity%}

          <td><a href="{% url 'decrease_quantity' item.id %}">-</a></td>
          <td><input type="number" name="quantity" value="{{item.quantity}}"></td>

          <td><a href="{% url 'increase_quantity' item.id %}">+</a></td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% endif%}


</body>
</html>